# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getEnv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development

# Front-End Variables
BASENAME=/

TWILIO_ACCOUNT_SID=ACab6f214d497e148175cebda42c425cfc
TWILIO_AUTH_TOKEN=3980a12ca1f39fbc95bd0203c0e05897
