
.jumbotron {
    background-color: yellow;
}
.input {
    background-color: yellow;
    border-radius: 40px;
    
    
}

.login-button {
    width: 100%;
    border-radius: 12px;
   

}


.inputs{
    min-width: 700px;
}
