.form{
    margin-top: 5%;
}
.jumbotron {
    background-color: yellow;
}
.input {
    background-color: yellow;
    border-radius: 40px;
    
    padding: 30px;
}

.login-button {
    width: 100%;
    border-radius: 12px;
    padding: 1rem;

}


.form{
    min-width: 50%;
}
