
.tab {
    color: #212529;
    font-size: medium;
    padding: 15px;

}
@media (max-width: 980px) {

      .tab {
             color: #212529;
    font-size: small;
    padding: 10px;
       }

}

.tab:hover{
    
    color: #212529;

}

.nav-pills .nav-link.active{
    color: #fff;
    background-color: #212529;
}
.tab-pane{
    font-size: medium;
    text-align: center;
  
}
.container{
    max-width: 50%;
    padding: 150px 0;
    
}
.small-container{
    max-width: 50%;
    font-size: medium;
    
}